<mat-toolbar color="primary">
  <ul>
    <li><a routerLink="saveTask">Create task</a></li>
  </ul>
  <ul>
    <li><a routerLink="listTask">List task</a></li>
  </ul>

  <ul>
    <li><a routerLink="listUser">User</a></li>
  </ul>
  <ul>
    <li><a routerLink="listRole">Role</a></li>
  </ul>

  <span class="headerSpacer"></span>

  <ul>
    <li><a mat-button routerLink="register">Sign up</a></li>
    <li><a mat-button routerLink="login">Login</a></li>
    <li><a mat-button>Logout</a></li>
  </ul>
</mat-toolbar>
